<ion-header class="style-header">
  <ion-toolbar color="primary">
    <ion-title>Cadastro de perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="style-content">
  <div class="ion-padding">
    <ion-item class="style-item">
        <ion-label position="floating">Descrição do perfil<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" [(ngModel)]="profile.description"></ion-input>
    </ion-item>
    <div class="controls-button">
      <ion-button style="width:40%" color="primary" (click)="save()">Salvar</ion-button>
      <ion-button style="width:40%"  fill="outline" (click)="cancel()" >Cancelar</ion-button>
    </div>
  </div>
</ion-content>